#page {
  display: grid;
  width: 100%;
  height: 300px;
  grid-template-areas:
    "head ."
    "nav  main"
    "nav  foot";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}
#page > header {
  grid-area: head;
  background-color: #07a787;
}
#page > nav {
  grid-area: nav;
  background-color: #ffa400;
}
#page > main {
  grid-area: main;
  background-color: #00aefd;
}
#page > footer {
  grid-area: foot;
  background-color: #e74c3c;
}

#container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: minmax(min-content, 300px) minmax(200px, 1fr) 150px;
  grid-gap: 5px;
  box-sizing: border-box;
  height: 200px;
  width: 100%;
  background-color: #07a787;
  padding: 10px;
}

#container > div {
  background-color: #ffa400;
  padding: 5px;
}

#cuadricula {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 100px));
  grid-template-rows: repeat(auto-fill, 100px);
  margin: 1em 0;
  border: 1px dashed #d9d9d9;
  grid-auto-flow: row; /* or 'row dense', 'column', 'column dense' */
}
.item {
  padding: 1em;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: #3e989b;
  background-color: var(--color);
  display: grid;
}

.item p {
  justify-self: center;
  align-self: center;
  color: white;
}
.item:nth-child(3n) {
  grid-row-end: span 2;
}
.item:nth-child(2n) {
  grid-column-end: span 2;
}

/*unimportant stuff*/
body {
  font-family: Verdana, Geneva, sans-serif;
  line-height: 2em;
  /* background-color: #222; */
  color: #777;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wrapper {
  width: 50%;
  max-width: 500px;
  min-width: 270px;
  margin: 1em auto;
}
