/* Mobile first coding style */
.box {
    width: 100px;
    height: 100px;
    background-color: red;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width:576px) {
    .box {
        background-color: yellow;
    }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    .box {
        background-color: purple;
    }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
    .box {
        background-color: blue;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {
    .box {
        background-color: green;
    }
}