@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins");

.cards {
    display: flex;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;

    /* margin-left: -8px;
    margin-right: -8px; */
    justify-content: space-around;
    /* border: 1px solid; */
}

.cards__item {
    /* There will be 4 cards per row */
    flex-basis: 25%;

    width: 269px;
    height: 155px;
    border-radius: 6px;
    /* background-color: grey; */

    /* display: flex;
    border: 1px solid; */
}

.card-title {
    height: 24px;
    left: 0%;
    right: 0%;
    top: calc(50% - 24px/2 - 41px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.1px;
}

.card-icon {
    width: 55px;
    height: 55px;
}

.card-header {
    display: flex;
}

.card-content {
    display: flex;
    height: 42px;
    left: 0%;
    right: 67.59%;
    top: calc(50% - 42px/2 + 32px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */

    letter-spacing: 0.116667px;

    color: #171725;

    order: 1;
    flex-grow: 0;
    margin: 40px 0px;
}